<!DOCTYPE html>
<html lang="en">
<head>
  <title>MarcoButterflyNet - Error Tracking Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "marco_butterfly_net/application", media: "all" %>
</head>
<body class="mbn-body">
  <div class="mbn-container">
    <%= yield %>
  </div>
</body>
</html>
